<header class="page-header">
  <h1>
    <%= fa('file-code-o') %> Partials
    <small>
      <%= link_to(fa('plus') + ' New Partial', new_partial_path) %>
    </small>
  </h1>
</header>


<% if @partials.present? %>

  <table class="table">
    <thead>
      <tr>
        <td>ID</td><td>Name</td>
      </tr>
    </thead>
    <tbody>
      <% @partials.each do |partial| %>
        <tr>
          <td><%= partial.id %></td>
          <td><%= link_to(partial.name, partial_path(partial)) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>

  <p class="text-danger">Why for are there no more partials no more?</p>

<% end %>

