<header class="page-header">
  <h1>
    <%= fa('file-o') %> Template Layouts
    <small>
      <%= link_to(fa('plus') + ' New Template Layout', new_template_layout_path) %>
    </small>
  </h1>
</header>


<% if @template_layouts.present? %>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th><th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @template_layouts.each do |template_layout| %>
        <tr>
          <td><%= template_layout.id %></td>
          <td><%= link_to(template_layout.name, template_layout_path(template_layout)) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>

  <p class="text-danger">Why for are there no more template layouts no more?</p>

<% end %>

