<header class="page-header">
  <h1>
    <%= fa('gears') %> Edit Setting Type
    <small>
      <%= link_to(@setting_type.name, admin_setting_type_path(@setting_type)) %>
    </small>
  </h1>
</header>

<%= render :partial => 'form', :locals => { :setting_type => @setting_type } %>

